<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.farsroidx.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".core.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Andromeda.App">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppActivity"
            android:exported="false" />
        <activity
            android:name=".ExceptionActivity"
            android:exported="false" />
        <activity
            android:name=".CacheActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoActivity"
            android:exported="false" />
        <activity
            android:name=".DatabaseActivity"
            android:exported="false" />
        <!--        <activity android:name=".DownloadActivity"   android:exported="false"/>-->
        <activity
            android:name=".MemoryActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".UtilsActivity"
            android:exported="false" />
    </application>

</manifest>