<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.farsroidx.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Andromeda.App"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".view.MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".view.AppActivity"
            android:exported="false" />

        <activity
            android:name=".view.ExceptionActivity"
            android:exported="false" />

        <activity
            android:name=".view.CacheActivity"
            android:exported="false" />

        <activity
            android:name=".view.CryptoActivity"
            android:exported="false" />

        <activity
            android:name=".view.DatabaseActivity"
            android:exported="false" />

<!--        <activity -->
<!--            android:name=".DownloadActivity"   -->
<!--            android:exported="false"/>-->

        <activity
            android:name=".view.MemoryActivity"
            android:exported="false" />

        <activity
            android:name=".view.NetworkActivity"
            android:exported="false" />

        <activity
            android:name=".view.PreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".view.UtilsActivity"
            android:exported="false" />

    </application>

</manifest>